.submit-btn{
    padding:10px;
    min-width:50px;
    max-width:100px;
    background:none;
    border:2px solid #0e76ed;
    color:#0e76ed;
    cursor:pointer;
    font-weight:bold;
    }

.task-tags{
        display:flex;
        flex-wrap:wrap;
        margin-top:5px;
        gap:5px 5px;
    }

.task-tag{
        font-size:16px;
        color:blue;
    }


    .task__btns-inner{
      display:flex;
     align-items:center;
    }
    
    .task__btn{
      padding:10px;
      transition:.2s;
      color:black;
      font-size:15px;
    }
    .__red{
      color:#BD5045;
    }
    .__green{
      color:green;
    }
    .task__btn{
      transition:.2s
    }
    .task__btn:hover{
      transform:scale(1.5) 
    }