.task-board{
    width:100%;
    display:flex;
    justify-content:center;
}

.task-board__contnent{
    width:90%;
    color:#9334B2;
    background:#E5D1F0;
    border-radius:10px;
    padding:20px;
}
.task-board__text{
    display: flex;
    gap: 0 10px;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 8px; /* Adjust the border-radius to your preference */
    padding: 12px; /* Padding for the container */
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1), -3px -3px 8px rgba(255, 255, 255, 0.8); /* Neumorphism shadow */
    max-width:100%;
    min-width:10px;
}