.form {
    box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
    min-width: 250px;
    max-width: 350px;
    max-height: 500px;
    display: flex;
    flex-flow: column;
    padding: 30px;
    border-radius: 5px;
    background: white;
}

.form__form {
    display: flex;
    flex-flow: column;
    margin-top: 30px;
    width: 250px;
}

.form__title {
    text-align: start;
    width: 100%;
}

.dropdown {
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}

.dropdown__btn {
    padding: 15px 20px;
    background: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.06);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.dropdown__btn-arrow {
    transition: 0.2s;
    transform: rotate(0deg);
}

.__active-dropdown__btn-arrow {
    transform: rotate(180deg);
}

.dropdown__content {
    z-index: 10000;
    position: absolute;
    top: 110%;
    left: 0;
    padding: 8px;
    background: #fff;
    width: 95%;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    overflow: hidden;
    transition: opacity 0.2s, max-height 0.1s;
}

.dropdown__item {
    padding: 10px;
    transition: 0.2s;
    cursor: pointer;
}

.dropdown__item:hover {
    background: #f4f4f4;
}

.dropdown__item {
    display: flex;
    justify-content: space-between;
}

.dropdown__item-btns {
    display: flex;
    gap: 0 10px;
}

.dropdown__item-btn {
    position: pointer;
    transition: 0.2s;
}

.__purple-dropdown__item-btn:hover {
    color: purple;
}

.__red-dropdown__item-btn:hover {
    color: red;
}

.form-page__btn-tag {
    padding: 5px;
    cursor: pointer;
    max-width: 120px;
    font-weight: bold;
    border: 2px solid #78009e;
    background: none;
    color: #78009e;
    margin: 10px 0px 10px 0px;
}



.tags {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 10px;
}

.tags_tag {
    border: 1px solid #78009e;
    gap: 0 5px;
    padding: 5px;
    display: flex;
    cursor: pointer;
    align-items: center;
    font-weight: bold;
    color: #78009e;
    transition: 0.2s;
}

.tags_tag:hover {
    transform: scale(1.1);
}

.tags__remove {
    transition: 0.2s;
}

.tags__remove:hover {
    color: red;
}

.dropdown__item-text {
    transition: 0.2s;
}

.dropdown__item-text:hover {
    color: blue;
}

.form__errors{
    list-style:none;
    display:flex;
    flex-flow:column;
    gap: 5px 5px;
    width:100%;
    margin-top:-15px;
    color:red;
}

.form-page__form-link{
    margin-top:10px;
}