.page{
    width:100%;
    height:100vh; 
    z-index:1000;
}

.homepage{
    width:100%;
    height:100vh;
    display:flex;
    align-items:center;
    flex-flow:column;
}

.homepage__text{
    margin-top:10%;
    text-align:center;
    width:30%;
}
.homepage__title{
     letter-spacing: 5px; 
}
.homepage__subtitle{
    margin-top:10px;
    letter-spacing: 2px; 
}
.homepage__room-links{
    display:flex;
    gap:0 20px;
    margin-top:20px;
}

.hompage__room-link{
    color:blue;
    letter-spacing: 2px; 
    border:1px solid blue;
    padding:5px;
    border-radius:50px;
}
@media screen and (max-width: 768px) {
    .homepage__text{
        width:90%;
    }
}