.page{
    width:100%;
    height:100vh; 
    background:#ECF0F3;
    display:flex;
    justify-content:center;
    align-items:center;
}

.homepage{
    width:100%;
    height:100vh;
    display:flex;
    align-items:center;
    flex-flow:column;
    justify-content:initial;
}

.homepage__text{
    margin-top:150px;
    display:flex;
    flex-flow:column;
    justify-content:center;
    text-align:center;
    width:30%;
}
.homepage__title{
     letter-spacing: 5px; 
     color:#50BBD7;
}
.homepage__subtitle{
    margin-top:10px;
    letter-spacing: 2px; 
    width:100%;
}
.homepage__room-links{
    display:flex;
    gap:0 20px;
    margin-top:20px;
}

.hompage__room-link{
    color:#50BBD7;
    letter-spacing: 2px; 
    border:1px solid #50BBD7;
    padding:7px;
    border-radius:50px;
    font-weight:bold;
}
.hompage__room-need-auth{
    color:black;
    margin-top:10px;
    font-size:20px;
    font-weight:bold;
    transition:.2s;
}
.hompage__room-need-auth:hover{
    color:#50BBD7;
}

@media screen and (max-width: 768px) {
    .homepage__text{
        width:100%;
    }
}