.task-page{
    padding:1rem;
}
.task-page__content{
    margin-top:30px;
    display:flex;
    flex-flow:column;
    justify-content:center;

}

.task-page__back{
    font-size:30px;
    cursor:pointer;
    transition:.2;
    display:flex;
    flex-flow:column;
    justify-content:center;
    margin-left:1rem
}
.task-page__back:hover{
    color:#50BBD7;
}
